<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Pacifico|Rokkitt" rel="stylesheet">
    <title>Slelp</title>
  </head>
  <body>
    <header>
      <div class="user-info">
         <a href="/helps">
            <div id="logo" class="form-logo">
              <h1>Slelp</h1>
            </div>
          </a>



        <div class="group">
          <h1>{{group.group_name}}</h1>
        </div>

      </div>

      <div id="add-search-container" class="mobileSearchContainer">
        <form class="form-help" action="/help" method="get">
          <button action="/help" method="get" class="add-help">
            <h1 class="addHelp">Add Help</h1><h1 class="addHelpPlus">+</h1>
          </button>
        </form>

        <div class="form-search">
          <button class="search">
            <input type="text" id="search-bar"placeholder="search help titles" onkeyup="searchHelps()">
            <img class="search-img" src="/images/VisualEditor_-_Icon_-_Search-big_-_white.svg.png" alt="">
          </button>
        </div>

      </div>
    </header>

    <section>
      <div class="container">
        {{#each helps}}
        <a class="form-help-container" href="/qa/{{help_id}}">
          <button class="help-container">

            <div class="username-time">
              <div class="username">
                <h3>{{username}}</h3>
              </div>

              <div class="timestamp">
                <h3>{{readableTime}}</h3>
              </div>
            </div>


            <div class="question-head">
              <h3>Q: {{title}}</h3>
            </div>

            <div class="solutions-answerbtn">
              <h5>Solutions: {{answersLength}}</h5>
            </div>
          </button>
        </a>
        {{/each}}
      </div>
    </section>

    <footer>
      <div class="foot">
        <a href="https://github.com/Slelp/slelp"><h3>&copy;PFC, inc.</h3></a>
      </div>
    </footer>
    <script type="text/javascript" src="/javascript/main.js">

    </script>
  </body>
</html>
